<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="/">Mentor</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a  routerLink="/home" routerLinkActive="active" >Home</a></li>
        <li><a routerLink="/about"  routerLinkActive="active" >About</a></li>
        <li><a routerLink="/courses"  routerLinkActive="active" >Courses</a></li>
        <li><a routerLink="/trainers"  routerLinkActive="active" >Trainers</a></li>
        <li><a routerLink="/events"  routerLinkActive="active" >Events</a></li>
        <li><a routerLink="/pricing"  routerLinkActive="active" >Pricing</a></li>
        <li><a routerLink="/contact"  routerLinkActive="active" >Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="/courses" class="get-started-btn">Get Started</a>

  </div>
</header><!-- End Header -->
